/api_projetos/.vs
/api_projetos/bin
/api_projetos/obj
api_projetos/appsettings.json
/.vs
/Frontend/obj
/api_projetos/tests/API_Gestao_Eventos.Tests/bin
/api_projetos/tests/API_Gestao_Eventos.Tests/obj
